############################
# Eclipse Workspace
############################
**/.metadata/
**/.plugins/
**/.history/
**/.log
**/.settings/
**/.classpath
**/.project

############################
# DBeaver
############################
**/.dbeaver/
**/.dbeaver-data-sources.xml

############################
# Workspace 전체 캐시
############################
**/workspace/.metadata/
**/test_workspace/.metadata/

############################
# Build 결과물
############################
**/bin/
**/target/
**/build/
**/*.class

############################
# Node
############################
**/node_modules/

############################
# Logs
############################
**/*.log

############################
# OS 파일
############################
.DS_Store
Thumbs.db

############################
# 설치파일 폴더 통째로 무시
############################
java/resource/
dbms/resource/