/* CSS 주석 */

/* 태그 선택자  태그명{} */
h1{
  color: cadetblue;
  background-color: yellow;
}

/* id 선택자 #id명 {} */
#span-id1 {
  color: darkgoldenrod;
  background-color: antiquewhite;
}

/* class 선택자 .클래스명 {} */
.div-class{
  color: beige;
  background-color: black;
}

/* 인라인요소에서 너비/높이 지정 불가 */
#span-id2 {
  border : 1px solid black;
  width: 300px;
  height:300px;
  /* 단위 : px 고정크기, % 부모 기준 비율, vw/vh : 화면 기준 */
}

/* 블록요소에서 너비/높이 지정 가능 */
#div2{
  border :3px solid red;
  width: 300px;
  height: 300px;
}