/* 9번 : 시맨틱 태그 실습_본인이름 */
*{
  margin:0;
  padding:0;
}
/* ====================
  HEADER
=========================*/
header{
  height: 100px;
  background-color: teal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.header--text-box{
  color: white;
  font-size: 25px;
  font-weight: bold;
}

/* nav 메뉴 */
nav ul {
  display: flex;
  list-style-type: none;
}
li {
  color: white;
  margin-left: 20px;
  cursor: pointer;
}

/* ====================
  Main
=========================*/
.main-container{
  height: 500px;
  background-color: lightblue;
  display: flex;
}

/* aside*/
aside{
  width: 150px;
  background-color: lightgray;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aside--text-box{
  font-weight: blod;
}

/* main */
main{
  flex:1;
  background-color: aliceblue;
  padding:20px;
}

/* main-text */
.main--text-box{
  height: 60px;
  background-color: lightgreen;
  text-align: center;
  line-height: 60px;
  font-weight: bold;
  margin-bottom: 20px;
}

/*=========================
  SECTION, ARTICLE
===========================*/
.section01{
  background-color: lightsalmon;
  padding : 20px;
}

.section01--text-box{
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

/* article 컨테이너 */
.section--article-contanier{
  display: flex;
  justify-content: space-between;
}

/* article */
.section01--article{
  width: 20%;
  height: 120px;
  background-color: white;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article--text-box{
  font-weight: bold;
}


footer {
  height:80px;
  background-color: lightcoral;
}